Checks: >
  -*,
  bugprone-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-use-nullptr,
  modernize-use-override
WarningsAsErrors: ''
HeaderFilterRegex: '^(src|tests)/.*'
FormatStyle: none
